<div id="<%= dom_id cliente %>">
  <p>
    <strong>Tipo Persona:</strong>
    <%= cliente.tipo_persona %>
  </p>

  <p>
    <strong>Número de Documento:</strong>
    <%= cliente.nro_doc_id %>
  </p>

  <p>
    <strong>Fecha Emisión:</strong>
    <%= cliente.fecha_emision %>
  </p>

  <p>
    <strong>Fecha vencimiento:</strong>
    <%= cliente.fecha_vencimiento %>
  </p>

  <p>
    <strong>Nombre:</strong>
    <%= cliente.nombre %>
  </p>

  <p>
    <strong>Apellido:</strong>
    <%= cliente.apellido %>
  </p>

  <p>
    <strong>Correo:</strong>
    <%= cliente.correo %>
  </p>

  <p>
    <strong>Teléfono Principal:</strong>
    <%= cliente.telf_ppal %>
  </p>

  <p>
    <strong>Teléfono Secundario:</strong>
    <%= cliente.telf_sec %>
  </p>

</div>
