<p style="color: green"><%= notice %></p>

  <%= render @cliente %>

<div class="container">
  <%= link_to "Editar", edit_cliente_path(@cliente), class:"btn btn-info" %> 
  <%= link_to "Volver", clientes_path, class:"btn btn-dark" %>
  <%= button_to "Eliminar", @cliente, method: :delete, class:"btn btn-danger" %>
</div>
